doctype html
- var title = ''
- var og_title = ''
- var og_description = ''
- var og_image = ''
- var twitter_description = ''

block vars

html.no-js(lang="")
  head
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title #{title}
    link(rel="stylesheet", href="styles/vendor.css")
    link(rel="stylesheet", href="styles/main.css")


  body


    header
      
    block content

    footer
      

    script.

                    
    script(type="text/javascript" src="scripts/vendor.js")
    script(type="text/javascript" src="scripts/app.js")
    script(type="text/javascript").
      
    

    block scripts
    
